html,body {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	overflow: hidden;
}
body {
	background-color: #212121;
}

#loader {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgb(30,26,91);
	background: radial-gradient(circle, rgba(30,26,91,1) 0%, rgba(0,0,0,1) 100%);
	opacity: 0.95;
}
.slide {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	transform: translateX(-100%);
	transition-duration: 0.4s;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.state {
	height: 100%;
	/*height should be set in js
		after the site is generated
		unless we want it to be 100%*/
	width: 100%;
	display: none;
	/*background-color: yellow;*/

}
.section {
	height: 100%;
	float: left;
}

.section::before {
	content: '';
	display: inline-block;
	height: 100%;
	margin-right: 0em;
	/*width: 1px;
	background-color: red;*/
}
.slide.top .section::before {
	vertical-align: top;
}
.slide.middle .section::before {
	vertical-align: middle;
}
.slide.bottom .section::before {
	vertical-align: bottom;
}

.section.top::before {
	vertical-align: top;
}
.section.middle::before {
	vertical-align: middle;
}
.section.bottom::before {
	vertical-align: bottom;
}

.container {
	display: inline-block;
	vertical-align: middle;
}
.full-height {
	height: 100%;
}
.full-width {
	width: 100%;
}
.element {
	width: 100%;
	height: 100%;
}

.lefted{
	text-align: left;
}
.centered {
	text-align: center;
}
.righted {
	text-align: right;
}

span {
	position: static;
	margin: 0;
	color: white;
	font-size: 25px;
}

@keyframes leftSlide {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}

@keyframes strike{
  0%   { width : 0%; }
  100% { width: 100%; }
}
.strike {
  position: relative;
}
.strike::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  background: white;
  animation-name: strike;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.striked::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: 5px;
	background: white;
}
